parameters:
	ignoreErrors:
		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\ArchiveCrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/ArchiveCrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\CrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/CrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\DuplicateCrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/DuplicateCrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\InlineEditCrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/InlineEditCrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\ReadOnlyCrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/ReadOnlyCrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\SaveCrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/SaveCrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Controller\\Traits\\UserCrudControllerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Controller/Traits/UserCrudControllerTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\ArchivableEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/ArchivableEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\CommentEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/CommentEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\CreatableEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/CreatableEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\IdEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/IdEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\IsEnabledTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/IsEnabledTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\NameEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/NameEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\NameUniqueEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/NameUniqueEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\ShortCommentEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/ShortCommentEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\UidEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/UidEntityTrait.php

		-
			message: '#^Trait Playtini\\EasyAdminHelperBundle\\Entity\\Traits\\VirtualFieldsEntityTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Entity/Traits/VirtualFieldsEntityTrait.php

		-
			message: '#^Constant Playtini\\EasyAdminHelperBundle\\Field\\YamlField\:\:ALLOWED_LANGUAGES is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: src/Field/YamlField.php
