parameters:
	ignoreErrors:
		-
			message: '#^Constant Playtini\\EasyAdminHelperBundle\\Field\\YamlField\:\:ALLOWED_LANGUAGES is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: src/Field/YamlField.php
