{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Doc{% endblock %}
{% block page_actions %}
    {#<a class="btn btn-primary" href="/admin">OK</a>#}
{% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ url('admin_doc_db') }}">DB</a></li>
    </ul>

    {% for group, items in groups %}
        <h3>{{ group == '/' ? 'General' : group }}</h3>
        <ul>
            {% for item in items %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
