{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}<a href="{{ url('admin_doc') }}">Doc</a> › {{ data['title']|default }}{% endblock %}
{% block page_actions %}
    {#<a class="btn btn-primary" href="/admin">OK</a>#}
{% endblock %}

{% block main %}
    {{ content|raw }}
{% endblock %}
