{% extends '@EasyAdminHelper/layout.html.twig' %}

{% block content_title %}<a href="{{ url('admin_doc') }}">Doc</a> › {{ data['title']|default }}{% endblock %}
{% block page_actions %}
    {#<a class="btn btn-primary" href="/admin">OK</a>#}
{% endblock %}

{% block main %}
    <div class="doc doc-item">
        {{ content|raw }}
    </div>
{% endblock %}
