{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% trans_default_domain 'EasyAdminBundle' %}

{% if field.value or ea.crud.currentAction != 'index' %}
    <span class="badge {{ field.value == true ? 'badge-boolean-true' : 'badge-boolean-false' }}">
        {{ (field.value == true ? 'label.true' : 'label.false')|trans }}
    </span>
{% endif %}
